<style>
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 55%; 
  height: 55%;
  margin-left: auto;
  margin-right: auto;
}
</style>

<div class="container" align="center">
  <iframe
      class="responsive-iframe"
src="https://drive.google.com/file/d/1Xpey_UYsxnG0eSdDodW2cWsVR_jFOMq6/preview">
  </iframe>
</div>
